<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <style>
        .target {
            background-color : red;
        }
    </style>

<!-- 반복문 처리 th:each-->
<!--    <ul>-->
<!--        <li th:each="dto: ${list}">-->
<!--             [[${dto}]]-->
<!--        </li>-->
<!--    </ul>-->

<!-- 반복문의 상태 객체 , index 속성을 추가하여 출력 시 번호가 출력된다 -->
    <ul>
        <li th:each="dto, state : ${list}">
            [[${state.index}]] --- [[${dto}]]
        </li>
    </ul>


    <ul>
        <li th:each="dto, state : ${list}" th:class="${dto.sno%5 == 0}
            ? 'target'" th:text="${dto}">
        </li>
    </ul>

    <!-- 별도의 태그 필요 없이 삼항연삭식을 작성할 수 있음 -->
    <!-- th:block의 경우 html로 처리되지 않아 루프 등을 별도로 처리하는 용도로 사용 -->
    <ul>
        <th:block th:each="dto: ${list}">
            <li th:text="${dto.sno % 5 == 0}?${dto.sno}:${dto.first}"></li>
        </th:block>
    </ul>



</body>
</html>