<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <style>
        .target {
            background-color : red;
        }
    </style>

<!-- 반복문 처리 -->
<!--    <ul>-->
<!--        <li th:each="dto: ${list}">-->
<!--             [[${dto}]]-->
<!--        </li>-->
<!--    </ul>-->

<!-- 반복문의 상태 객체 , index 속성을 추가하여 출력 시 번호가 출력된다 -->
    <ul>
        <li th:each="dto, state : ${list}">
            [[${state.index}]] --- [[${dto}]]
        </li>
    </ul>

    <ul>
        <li th:each="dto, stae : ${list}" th:class="${dto.sno%5 == 0}
            ? 'target'" th:text="${dto}">
        </li>
    </ul>



</body>
</html>